ul {
  list-style-type: none;
}

.body {
  font-family: "Playfair Display", "Roboto Regular", Times;
  font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
  line-height: calc(1.3em + (1.5 - 1.2) * ((100vw - 300px) / (1600 - 300)));
  background-color: "#db996c";
  align-content: center;
  position: fixed;
  height: 100%;
  width: 100%;
  padding-right: 0px !important;
  min-height: 100vh;
}
.app {
  background-color: #fff8cd;
}

.header-width {
  width: "100%";
}
.bg-image {
  background-image: url("./assets/muscle2.jpeg");
  background-repeat: no-repeat;
  background-size: contain;
}

.memmuscle-text {
  font-family: "Comic Sans", "Comic Sans MS", cursive;
  background-color: white;
  font-size: 48px;
  text-align: center;
  padding-top: 5vh;
}

.modal-form {
  padding-left: 20px;
  padding-right: 20px;
}

.form-button {
  padding-left: 50%;
}

.card-list {
  height: 90vh;
}

@media screen and (min-width: 420px) {
}
