.sidebar {
  grid-area: sidebar;
  height: "300px";
}

.content {
  grid-area: content;
  height: "300px";
  margin-top: "50px";
}

.header {
  grid-area: header;
  margin-top: 15px;
}

.footer {
  grid-area: footer;
}

.wrapper {
  background-color: #fff;
  color: #444;
}

.wrapper {
  display: grid;
  grid-gap: 1em;
  grid-template-areas:
    "header"
    "content"
    "footer";
}

@media only screen and (min-width: 500px) {
  .wrapper {
    grid-template-columns: 40% auto;
    grid-template-areas:
      "header   header"
      "content  content content"
      "sidebar2 sidebar2"
      "footer   footer";
  }
}

@media only screen and (min-width: 600px) {
  .wrapper {
    grid-gap: 20px;
    grid-template-columns: 250px auto 120px;
    grid-template-areas:
      "header  header  header"
      "content content content"
      "footer  footer  footer";
    max-width: 600px;
  }
}

.box {
  background-color: #444;
  color: #fff;
  /* border-radius: 5px; */
  padding: 10px;
  font-size: 115%;
}

.sidebar2 {
  background-color: #ccc;
  color: #444;
}

.deck {
  background-color: #ffffea;
  border: none;
  color: black;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  transition: 0.3s;
}

.deck:hover {
  background-color: #fdef96;
  color: #170a19;
}
